<!doctype HTML>
<html lang="en">
<head>
    <title>Toast Search</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    -->
</head>
<body>
<h1>Toast Search</h1>
<form>
    <input class="input-xlarge">{{ query }}</input>
    <button type="submit" class="btn">Search</button>
</form>

{% block body %}
{% endblock %}

</body>
</html>
