<!doctype HTML>
<html lang="en">

<head>
    <title>Toastie{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="shortcut icon" href="{{ url_for('assets', filename='favicon.ico') }}">
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/jquery-1.8.2.js"></script>
    <script src="static/js/jquery-ui-1.9.1.custom.js"></script>
</head>

<body>

<div class="row-fluid">
{% with messages = get_flash_messages(with_categories=true) %}
    {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
</div>
<div class="row-fluid">
    {% endif %}
{% endwith %}

{% block body %}
{% endblock %}

</div>

<div id="footer">&copy; 2012 <a href="http://www.cheddarcode.com/g/">L Gabriel Miller</a></p>

</body>

</html>
