<!doctype HTML>
<html lang="en">

<head>
    <title>Toastie{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="static/js/jquery-1.8.2.js"></script>
    <script src="static/js/holder.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <!--<script src="static/js/jquery-ui-1.9.1.custom.js"></script>-->
</head>

<body>

<div class="container">

{% if context.DEBUG==True %}<h5>Page context: {{ context }}</h5><hr><br>{% endif %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
<br><br>
<div class="row">
    <div style="text-align:center;">
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
    </div>
<br><br>
</div>
<div class="row">
    {% endif %}
{% endwith %}

{% block body %}
{% endblock %}

<br>

</div>
<br><br><br><br>
<div class="navbar navbar-fixed-bottom" style="text-align: center;">
<p>Check the <a href="/spider{% if context and context.query %}?query={{ context.query }}&display={{ context.display }}&sort={{ context.sort }}&page={{ context.page }}&results={{ context.results }}{% endif %}">spider</a></p>
<p>&copy; {{ context.year }} <a href="http://www.cheddarcode.com/g/">L Gabriel Miller</a></p>
</div>
</body>

</html>
