{% extends "base.html" %}

{% block title %}
- Search for '{{ context.query }}'
{% endblock %}

{% block body %}

{% include "include_search.html" %}

<div class="row">
    <div id="sidebar" class="span2">
        {% include "include_sidebar.html" %}
    </div>
    <div id="content" class="span10">

        <!-- <h3>Search results for '{{ context.query }}':</h3> -->
        <h6>Search results for "<i>{{ context.query }}</i>":</h6>

        {% for result in context.documents %}
        <div class="search_result">
            <h4><a href="#">{{result.title}}</a></h4>
            <h6>{{result.date}}</h6>
            <p>{{result.pagetext}}</p>
        </div>
        {% endfor %}

    </div>

</div>


{% endblock %}
